<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

# Regression Models with Keras

Estimated time needed: **45** mins

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Objectives for this Notebook    
* How to use the Keras library to build a regression model
* Download and clean the data set
* Build a neural network
* Train and test the network

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean the Data Set</a>  
2. <a href="#item32">Import Keras Packages</a>
3. <a href="#item33">Build a Neural Network</a>
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean the  Data Set

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [ ]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.
!pip install numpy==2.0.2
!pip install pandas==2.2.2
!pip install tensorflow_cpu==2.18.0

##### To use Keras, you will also need to install a backend framework â€“ such as TensorFlow.

If you install TensorFlow 2.16 or above, it will install Keras by default.

We are using the CPU version of tensorflow since we are dealing with smaller datasets. 
You may install the GPU version of tensorflow on your machine to accelarate the processing of larger datasets

In [1]:
import pandas as pd
import numpy as np
import keras

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

* Cement
* Blast furnace slag
* Fly ash
* Water
* Superplasticizer
* Coarse aggregate
* Fine aggregate

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

In [7]:
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

##  Import Keras Packages

##### Let's import the rest of the packages from the Keras library that we will need to build our regression model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [ ]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 4s - 162ms/step - loss: 1628.0148 - val_loss: 1133.6147
Epoch 2/100
23/23 - 0s - 6ms/step - loss: 1487.8069 - val_loss: 1004.9489
Epoch 3/100
23/23 - 0s - 6ms/step - loss: 1266.0889 - val_loss: 810.4859
Epoch 4/100
23/23 - 0s - 6ms/step - loss: 947.2034 - val_loss: 574.0842
Epoch 5/100
23/23 - 0s - 6ms/step - loss: 595.3864 - val_loss: 366.7729
Epoch 6/100
23/23 - 0s - 7ms/step - loss: 354.8581 - val_loss: 252.8778
Epoch 7/100
23/23 - 0s - 6ms/step - loss: 268.4783 - val_loss: 217.8528
Epoch 8/100
23/23 - 0s - 6ms/step - loss: 243.6095 - val_loss: 202.2150
Epoch 9/100
23/23 - 0s - 6ms/step - loss: 225.4839 - val_loss: 193.3542
Epoch 10/100
23/23 - 0s - 6ms/step - loss: 212.2422 - val_loss: 190.2580
Epoch 11/100
23/23 - 0s - 6ms/step - loss: 203.3048 - val_loss: 186.7695
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 193.9930 - val_loss: 180.2298
Epoch 13/100
23/23 - 0s - 6ms/step - loss: 187.3439 - val_loss: 180.1271
Epoch 14/100
23/23 - 0s - 8ms/step - loss: 181.9886 - val_loss: 177.6037
Epoch 15/100
23/23 - 0s - 6ms/step - loss: 177.1302 - val_loss: 174.8250
Epoch 16/100
23/23 - 0s - 6ms/step - loss: 172.3199 - val_loss: 172.9752
Epoch 17/100
23/23 - 0s - 6ms/step - loss: 168.6723 - val_loss: 172.3905
Epoch 18/100
23/23 - 0s - 6ms/step - loss: 165.0756 - val_loss: 171.3339
Epoch 19/100
23/23 - 0s - 5ms/step - loss: 162.2612 - val_loss: 170.3628
Epoch 20/100
23/23 - 0s - 6ms/step - loss: 159.6691 - val_loss: 169.7427
Epoch 21/100
23/23 - 0s - 6ms/step - loss: 156.8640 - val_loss: 170.3271
Epoch 22/100
23/23 - 0s - 6ms/step - loss: 155.6403 - val_loss: 168.1085
Epoch 23/100
23/23 - 0s - 7ms/step - loss: 152.7981 - val_loss: 170.9082
Epoch 24/100
23/23 - 0s - 6ms/step - loss: 151.1501 - val_loss: 169.9599
Epoch 25/100
23/23 - 0s - 7ms/step - loss: 148.7945 - val_loss: 169.3190
Epoch 26/100
23/23 - 0s - 6ms/step - loss: 147.1604 - val_loss: 167.9244
Epoch 27/100
23/23 - 0s - 6ms/step - loss: 145.8201 - val_loss: 171.7469
Epoch 28/100
23/23 - 0s - 6ms/step - loss: 144.5287 - val_loss: 168.5278
Epoch 29/100
23/23 - 0s - 7ms/step - loss: 142.4768 - val_loss: 166.1563
Epoch 30/100
23/23 - 0s - 6ms/step - loss: 141.1000 - val_loss: 169.1331
Epoch 31/100
23/23 - 0s - 6ms/step - loss: 139.4337 - val_loss: 170.3565
Epoch 32/100
23/23 - 0s - 7ms/step - loss: 139.4137 - val_loss: 169.6060
Epoch 33/100
23/23 - 0s - 6ms/step - loss: 137.1982 - val_loss: 166.5506
Epoch 34/100
23/23 - 0s - 6ms/step - loss: 135.4119 - val_loss: 169.1921
Epoch 35/100
23/23 - 0s - 6ms/step - loss: 134.3609 - val_loss: 168.0530
Epoch 36/100
23/23 - 0s - 7ms/step - loss: 133.0083 - val_loss: 168.8503
Epoch 37/100
23/23 - 0s - 6ms/step - loss: 131.5849 - val_loss: 168.7911
Epoch 38/100
23/23 - 0s - 6ms/step - loss: 130.0462 - val_loss: 167.8019
Epoch 39/100
23/23 - 0s - 6ms/step - loss: 128.8871 - val_loss: 169.0657
Epoch 40/100
23/23 - 0s - 6ms/step - loss: 127.4011 - val_loss: 167.0836
Epoch 41/100
23/23 - 0s - 6ms/step - loss: 126.4735 - val_loss: 167.6303
Epoch 42/100
23/23 - 0s - 6ms/step - loss: 124.8844 - val_loss: 167.5296
Epoch 43/100
23/23 - 0s - 6ms/step - loss: 123.4055 - val_loss: 166.5449
Epoch 44/100
23/23 - 0s - 6ms/step - loss: 122.1364 - val_loss: 161.3263
Epoch 45/100
23/23 - 0s - 7ms/step - loss: 120.3454 - val_loss: 164.7495
Epoch 46/100
23/23 - 0s - 6ms/step - loss: 119.2819 - val_loss: 164.5180
Epoch 47/100
23/23 - 0s - 6ms/step - loss: 118.1689 - val_loss: 161.1541
Epoch 48/100
23/23 - 0s - 6ms/step - loss: 117.1981 - val_loss: 163.1622
Epoch 49/100
23/23 - 0s - 7ms/step - loss: 114.3513 - val_loss: 155.9972
Epoch 50/100
23/23 - 0s - 6ms/step - loss: 112.9619 - val_loss: 161.1181
Epoch 51/100
23/23 - 0s - 6ms/step - loss: 110.9587 - val_loss: 158.5762
Epoch 52/100
23/23 - 0s - 6ms/step - loss: 109.6884 - val_loss: 156.5233
Epoch 53/100
23/23 - 0s - 6ms/step - loss: 107.3074 - val_loss: 156.8600
Epoch 54/100
23/23 - 0s - 6ms/step - loss: 105.5930 - val_loss: 155.3411
Epoch 55/100
23/23 - 0s - 6ms/step - loss: 103.7111 - val_loss: 151.2607
Epoch 56/100
23/23 - 0s - 6ms/step - loss: 101.0671 - val_loss: 150.5747
Epoch 57/100
23/23 - 0s - 6ms/step - loss: 98.6839 - val_loss: 150.8093
Epoch 58/100
23/23 - 0s - 6ms/step - loss: 96.3756 - val_loss: 148.1020
Epoch 59/100
23/23 - 0s - 6ms/step - loss: 94.2756 - val_loss: 150.6627
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 91.9845 - val_loss: 146.8749
Epoch 61/100
23/23 - 0s - 6ms/step - loss: 89.3736 - val_loss: 147.8856
Epoch 62/100
23/23 - 0s - 6ms/step - loss: 87.4731 - val_loss: 140.4946
Epoch 63/100
23/23 - 0s - 7ms/step - loss: 84.2107 - val_loss: 143.4440
Epoch 64/100
23/23 - 0s - 7ms/step - loss: 82.5406 - val_loss: 136.8447
Epoch 65/100
23/23 - 0s - 6ms/step - loss: 80.0774 - val_loss: 140.8347
Epoch 66/100
23/23 - 0s - 5ms/step - loss: 78.7808 - val_loss: 141.9557
Epoch 67/100
23/23 - 0s - 6ms/step - loss: 75.5836 - val_loss: 132.2166
Epoch 68/100
23/23 - 0s - 7ms/step - loss: 73.5298 - val_loss: 134.2070
Epoch 69/100
23/23 - 0s - 6ms/step - loss: 71.4480 - val_loss: 131.3173
Epoch 70/100
23/23 - 0s - 6ms/step - loss: 69.2726 - val_loss: 130.9413
Epoch 71/100
23/23 - 0s - 6ms/step - loss: 67.4993 - val_loss: 130.8434
Epoch 72/100
23/23 - 0s - 6ms/step - loss: 65.4234 - val_loss: 124.9503
Epoch 73/100
23/23 - 0s - 6ms/step - loss: 63.3149 - val_loss: 126.9551
Epoch 74/100
23/23 - 0s - 6ms/step - loss: 60.9206 - val_loss: 124.2907
Epoch 75/100
23/23 - 0s - 6ms/step - loss: 59.4881 - val_loss: 123.0003
Epoch 76/100
23/23 - 0s - 6ms/step - loss: 58.4374 - val_loss: 123.5480
Epoch 77/100
23/23 - 0s - 6ms/step - loss: 56.8321 - val_loss: 118.1971
Epoch 78/100
23/23 - 0s - 6ms/step - loss: 54.7200 - val_loss: 128.1264
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 53.7601 - val_loss: 121.8658
Epoch 80/100
23/23 - 0s - 7ms/step - loss: 52.1092 - val_loss: 121.9546
Epoch 81/100
23/23 - 0s - 6ms/step - loss: 50.7058 - val_loss: 128.8606
Epoch 82/100
23/23 - 0s - 6ms/step - loss: 49.8032 - val_loss: 117.4323
Epoch 83/100
23/23 - 0s - 6ms/step - loss: 48.9595 - val_loss: 124.0893
Epoch 84/100
23/23 - 0s - 6ms/step - loss: 47.3569 - val_loss: 123.5860
Epoch 85/100
23/23 - 0s - 6ms/step - loss: 46.3357 - val_loss: 122.6662
Epoch 86/100
23/23 - 0s - 6ms/step - loss: 45.2932 - val_loss: 121.8173
Epoch 87/100
23/23 - 0s - 6ms/step - loss: 44.4070 - val_loss: 119.5182
Epoch 88/100
23/23 - 0s - 6ms/step - loss: 43.6935 - val_loss: 120.4409
Epoch 89/100
23/23 - 0s - 6ms/step - loss: 43.1689 - val_loss: 131.1048
Epoch 90/100
23/23 - 0s - 6ms/step - loss: 41.8887 - val_loss: 120.3741
Epoch 91/100
23/23 - 0s - 6ms/step - loss: 40.6977 - val_loss: 127.5643
Epoch 92/100
23/23 - 0s - 6ms/step - loss: 40.4967 - val_loss: 124.3077
Epoch 93/100
23/23 - 0s - 6ms/step - loss: 39.7209 - val_loss: 126.7670
Epoch 94/100
23/23 - 0s - 6ms/step - loss: 38.7649 - val_loss: 131.3173
Epoch 95/100
23/23 - 0s - 6ms/step - loss: 39.0063 - val_loss: 123.0797
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 37.2719 - val_loss: 128.4613
Epoch 97/100
23/23 - 0s - 5ms/step - loss: 36.8748 - val_loss: 126.0357
Epoch 98/100
23/23 - 0s - 6ms/step - loss: 36.0330 - val_loss: 141.9415
Epoch 99/100
23/23 - 0s - 6ms/step - loss: 36.0974 - val_loss: 132.2898
Epoch 100/100
23/23 - 0s - 6ms/step - loss: 35.3599 - val_loss: 131.8510

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

<!--
## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2024-11-20  | 3.0  | Aman  |  Updated the library versions to current |
| 2020-09-21  | 2.0  | Srishti  |  Migrated Lab to Markdown and added to course repo in GitLab |



<hr>

## <h3 align="center"> Â© IBM Corporation. All rights reserved. <h3/>

<hr>

Copyright &copy; [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://opensource.org/license/mit).